<div class="container-fluid main_container d-flex" style="min-height: 100vh;">
  <div class="row border flex-fill">
    <div class="col h-100">

      <div class="row border" style="height: 25%; background-color: #20c997">
        <div class="col mh-100 justify-content-center align-self-center">
          <p class="mh-100 text-center" style="font-size: 10vh;">Company Name</p>
        </div>
      </div>

      <div class="row border" style="height: 15%; background-color: #20c997;">
        <div class="col">
          <%= link_to '<button type="button" class="btn btn-primary btn-block h-100" style="font-size: 8vh; opacity: .7; background-color: #008CBA;">Back</button>'.html_safe, controller:  'splash' %>
        </div>
      </div>

      <div class="row border" style="height: 10%; background-color: #20c997;">
        <div class="col">
      <%= link_to '<button type="button" class="btn btn-primary btn-block h-100" style="font-size: 5vh; opacity: .9; color: black; background-color: #d9d9d9;">New Product</button>'.html_safe, new_product_path %>
        </div>
      </div>

      <div class="row border" style="height: 40%;">
        <div class="table-responsive mh-100">
          <table class="table table-striped">
            <tr>
              <th class="col-4">Product</th>
              <th class="col-3">Dimension</th>
              <th class="col-3">Price</th>
              <th class="col">Options</th>
            </tr>
            <% @products.each do |product| %>
              <tr>
                <td><%= product.name %></td>
                <td><%= product.dimension %></td>
                <td><%= product.price %></td>
                <td><%= link_to 'Details', product_path(product) %>  <%= link_to 'Update', edit_product_path(product) %>  <%= link_to 'Remove', product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

      <div class="row border" style="height: 10%; background-color: #20c997">
        <div class="col mh-100 justify-content-center align-self-center">
          <p class="text-center" style="font-size: 5vh;">Trademark Information - &#169; esoterickeys</p>
        </div>
      </div>

    </div>
  </div>
</div>